flask>=3.0.1
python-telegram-bot==20.8
python-dotenv==1.0.0
requests==2.31.0
gunicorn>=21.2.0
groq>=0.4.1
pillow==10.2.0
together==0.2.8
fpdf2>=2.7.8
pydub==0.25.1
ffmpeg-python==0.2.0
python-magic>=0.4.27
markdown>=3.5.2
gTTS>=2.5.1
moviepy>=1.0.3
yt-dlp>=2023.12.30
psutil==5.9.7
aiohttp==3.9.1
asyncio==3.4.3
colorama==0.4.6
tqdm==4.66.1
